*{
  padding: 0px;
  margin: 0px;
}

body{
  box-sizing: border;
  display: flex;
  align-items: centet;
  background-color: rgb(225,225,225);
}

.post{
  display: block;
  background-color: white;
  height: 130px;
  width: 370px;
  border-radius: 10px;
  margin: 15px;
  text-align-last: center;
  margin-top: 80px;
  margin-left: -385px;
  padding: 0px;
}

.cap{
  background-color: rgb(225,225,225);
  width: 113px;
  height: 113px;
  border-radius: 5px;
  float: left;
  margin-top: 8px;
  margin-left: 10px;
}

.caixa h1{
  text-align: center;
  color: black;
}

.titulo{
  margin-left: -250px;
  margin-top: 90px;
  color: black;
}

.mini{
  margin-left: -250px;
  margin-top: 120px;
  color: gray;
}

.bar{
  background-color: royalblue;
  width: 400px;
  height: 50px;
  text-align: center;
}

a {
    color: #0060B6;
    text-decoration: none;
}

a:hover {
    color:#00A0C6; 
    text-decoration:none; 
    cursor:pointer;  
}

.fo{
  color: white;
  margin-top: 5px;
  }
